Body{
    background-image: url(file3.jpg);
    font-family: 'Cedarville Cursive', cursive;
    text-align: right;
}
.container{
    text-align: justify;
    color: #a0b48e;
    background-color: rgba(255, 255, 255, 0.50);
    margin-top: 50
    
}

a:active {
    color: black;
}
a:visited {
    color: black;
}